<!DOCTYPE html>
<html>
<head>
    <title>Nebs-IT Invoice</title>
</head>
<body>
    <h2><b>Nebs-IT Invoice</b></h2>
    <p>Order Date : {{ data.order_date }}</p>
    <p>Client's Name : {{ data.client_name }}</p>
    <p>Client's Name : {{ data.client_name }}</p>
    <p>Phone Number : {{ data.number }}</p>
    <p>Email : {{ data.email }}</p>
    <p>Address : {{ data.address }}</p>
    <p>Database Name : {{ data.database_name  }}</p>
    <p>Data Filter Details : {{ data.data_filter_details }}</p>
    <p>Database Quantity : {{ data.database_quantity }}</p>
    <p>Database Price : {{ data.database_price }}</p>
    <p>Total Price : {{ data.total_price }}</p>
    <p>Payment Method : {{ data.payment_via }}</p>
    <p>Agent Name : {{ data.agent_name }}</p>

</body>
</html>


